h1{
    color:blueviolet;
    background-color: yellow;
}
P{
    color:mediumblue;
    font-size: 20px;
               
}
h2{
    color:red;
    background-color: aqua;
}
h3{
    color:sienna;
    background-color: aquamarine;
}
h4{
    color:darkorange;
    background-color: darkcyan;
}
b{
    color:red;
    background-color: yellow;
}
body{
    background-color: silver;
}